{% extends "site/base.html" %}
{% import "site/base.html" as layout with context %}
{% import "site/widgets/animalWidgets.html" as animalWidgets with context %}
{% block navbar %}
{{super()}}
{%- endblock navbar %}
{% block sidebar %}
{{super()}}
{%- endblock sidebar %}
{% block content_header -%}
<h2>
    {{farm.name}} |
    <small> {{animal.number}} &nbsp; {{animal.name}}</small>
</h2>
<ol class="breadcrumb">
    <li><a href={{url_for('account.accountDashboard')}}> Home</a></li>
    <li><a href={{url_for('farms.allFarms')}}> Farms</a></li>
    <li><a href={{url_for('farms.farmDashboard', farm_id=farm.farm_id)}}>{{farm.name}}</a></li>
    <li><a href={{url_for('animals.animalsDashboard', farm_id=farm.farm_id)}}>Animals</a></li>
    <li><a href="#"> View Animal</a></li>
</ol>
{%- endblock content_header %}
{% block content -%}
{{ animalWidgets.animalViewMenu(selectedItemID="financials") }}
<div class="container-fluid mt-2">
    <a class="btn btn-lg btn-success"
        href="{{url_for('animals.addAnimalTransactionLog', farm_id=farm.farm_id, animal_id=animal.animal_id)}}">Add
        Log</a>
    {{table}}
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td><b>Credits</b></td>
                <td>{{ "${:,.2f}".format(aggregate_info['total_credits']) }}</td>
            </tr>
            <tr>
                <td><b>Debits</b></td>
                <td>{{ "${:,.2f}".format(aggregate_info['total_debits']) }}</td>
            </tr>
            <tr class="bg-light">
                <td><b>Total Profit</b></td>
                <td><b>{{ "${:,.2f}".format(aggregate_info['total']) }}</b></td>
            </tr>
        </table>
    </div>
</div>


</div>
{%- endblock content %}