{% extends "site/base.html" %}
{% import "site/base.html" as layout with context %}
{% block navbar %}
{{super()}}
{%- endblock navbar %}
{% block sidebar %}
{{super()}}
{%- endblock sidebar %}
{% block content_header -%}
<h2>
    {{pen.name}}
    <small>Shared Expense</small>
</h2>
<ol class="breadcrumb">
    <li><a href={{url_for('account.accountDashboard')}}>Home</a></li>
    <li><a href={{url_for('farms.allFarms')}}> Farms</a></li>
    <li><a href={{url_for('farms.farmDashboard', farm_id=farm.farm_id)}}>{{farm.name}}</a></li>
    <li><a href={{url_for('farms.pensDashboard', farm_id=farm.farm_id)}}>Pens</a></li>
    <li><a href={{url_for('pens.viewPen', pen_id=pen.pen_id)}}>{{pen.name}}</a></li>
</ol>
{%- endblock content_header %}
{% block content -%}
<div class="container-fluid">

    <form class="form border rounded p-2" id="add-animal-form" method="POST">
        {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.transaction_type_id.label() }}{{ form.transaction_type_id() }}
    </div>
    <div class="form-group">
        {{ form.title.label() }}{{ form.title(_class="form-control") }}
        {{ form.note.label() }}{{ form.note(_class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.amount.label() }}{{ form.amount(_class="form-control") }}
        {{ form.transaction_timestamp.label() }}{{ form.transaction_timestamp(_class="form-control") }}
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Save</button>
    <div class="container">
            {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong> {{error}}
                </div>
            {% endfor %}
            {% endfor %}
    </div>
</form>
    <hr>
    <div class="container">
        <h3>Calculator</h3>
        <script>
            var app = angular.module('sharedExpense', [], function ($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                $interpolateProvider.endSymbol(']]');
            });
            app.controller("wzrdCtrl", function ($scope, $http) {
                $scope.animals = {{ animals_count | safe }};
                $scope.perAnimalCost = 0.00;
                $scope.cost = 0.00;
                $scope.members = [];
        
                $scope.update = function () {
                    // Make sure at least one character is typed
                    if ($scope.cost.length > 0) {
                        $scope.perAnimalCost = ($scope.cost / $scope.animals).toFixed(2)
                    } else {
                        $scope.perAnimalCost = 0.00
                    }
                }
            })
        </script>
    
        <div ng-app="sharedExpense" ng-controller="wzrdCtrl">
            <div class="row">
                <div class="col-md-8">
                    <input ng-model="cost" ng-keyup="update()" placeholder="Total Cost">
                    <p>$[[cost]] / [[animals]] animals</p>
                    <h4>Per Animal Cost: [[perAnimalCost]]</h4>
                </div>
            </div>
    </div>
    <hr>
    <!-- Pen Table -->
    {{ table }}
</div>
<script>
    $(document).ready(function () {
        $('#animalTable').DataTable();
    });
</script>
{%- endblock content %}